h1{
    text-align: center;
    color: coral;
}

#a1{
    background-color: crimson;
    border: 1px solid black;
    font-size: 15px;
    margin-top: -10px;
    margin-right: -10px;
    overflow: none;
    font-style: italic;
    font-family: serif;
    font-weight: 100;
   
}

#a2{
    background-color:burlywood;
    border: 1px solid black;
    font-size: 15px;
    margin-top: -10px;
    margin-right: -10px;
    overflow: none;
    font-style: italic;
    font-family: serif;
    font-weight: 100;
    
}

#a3{
    background-color :darkcyan;
    border: 1px solid black;
    font-size: 15px;
    margin-top: -10px;
    margin-right: -10px;
    overflow: none;
    font-style: italic;
    font-family: serif;
    font-weight: 100;
}

@media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  /**** Medium devices only ****/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      margin-left: -10px;
      width: 100%;
    }
  }
  
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }
  }